<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Cover page</title>
 <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="http://localhost:3000/css/style.css">
</head>

<body class="cover-page">

 <div class="cover-page-header">

  <div class="cover-page-header-company">
   <p class="cover-page-header-company-title">Example company</p>
   <p class="cover-page-header-company-info">EXAMPLE STREET 12-14, 00170 Helsinki</p>
  </div>

  <div class="cover-page-header-type">
   <p class="cover-page-header-type-title">Team Report</p>
   <p class="cover-page-header-type-info">August 2020 - December 2020</p>
  </div>

  <div class="cover-page-header-team">
   <p class="cover-page-header-team-title">Example Team Name</p>
   <p class="cover-page-header-team-info">Example description of this example team</p>
  </div>

 </div>

 <div class="cover-page-main">

  <div class="cover-page-main-team">
   <div class="cover-page-main-team-info">
    <ul class="cover-page-main-team-info-list">
     <li class="cover-page-main-team-info-list-item title">Team lead</li>
     <li class="cover-page-main-team-info-list-item">Johan Walter</li>
    </ul>
    <ul class="cover-page-main-team-info-list">
     <li class="cover-page-main-team-info-list-item title">Viewing rights</li>
     <li class="cover-page-main-team-info-list-item">Matti Nykänen</li>
     <li class="cover-page-main-team-info-list-item">Juuso Elmo</li>
    </ul>
    <ul class="cover-page-main-team-info-list">
     <li class="cover-page-main-team-info-list-item title">Admin rights</li>
     <li class="cover-page-main-team-info-list-item">Matti Nykänen</li>
     <li class="cover-page-main-team-info-list-item">Juuso Elmo</li>
    </ul>
   </div>

   <div class="cover-page-main-team-members">
    <ul class="cover-page-main-team-members-list">
     <li class="cover-page-main-team-members-list-item title">Team members</li>
     <li class="cover-page-main-team-members-list-item">Paul Walker</li>
     <li class="cover-page-main-team-members-list-item">Til Schweiger</li>
     <li class="cover-page-main-team-members-list-item">Brad Pit</li>
     <li class="cover-page-main-team-members-list-item">Will Smith</li>
     <li class="cover-page-main-team-members-list-item">Daniel Craig</li>
     <li class="cover-page-main-team-members-list-item">Etta James</li>
     <li class="cover-page-main-team-members-list-item">Michael Buble</li>
     <li class="cover-page-main-team-members-list-item">Wicked from Walker</li>
     <li class="cover-page-main-team-members-list-item">Paul Walker</li>
     <li class="cover-page-main-team-members-list-item">Til Schweiger</li>
     <li class="cover-page-main-team-members-list-item">Brad Pit</li>
     <li class="cover-page-main-team-members-list-item">Will Smith</li>
     <li class="cover-page-main-team-members-list-item">Daniel Craig</li>
     <li class="cover-page-main-team-members-list-item">Etta James</li>
     <li class="cover-page-main-team-members-list-item">Michael Buble</li>
     <li class="cover-page-main-team-members-list-item">Wicked from Walker</li>
    </ul>
   </div>

   <div class="cover-page-main-team-members">
    <ul class="cover-page-main-team-members-list">
     <li class="cover-page-main-team-members-list-item title">Team members</li>
     <li class="cover-page-main-team-members-list-item">Paul Walker</li>
     <li class="cover-page-main-team-members-list-item">Til Schweiger</li>
     <li class="cover-page-main-team-members-list-item">Brad Pit</li>
     <li class="cover-page-main-team-members-list-item">Will Smith</li>
     <li class="cover-page-main-team-members-list-item">Daniel Craig</li>
     <li class="cover-page-main-team-members-list-item">Etta James</li>
     <li class="cover-page-main-team-members-list-item">Michael Buble</li>
     <li class="cover-page-main-team-members-list-item">Wicked from Walker</li>
     <li class="cover-page-main-team-members-list-item">Paul Walker</li>
     <li class="cover-page-main-team-members-list-item">Til Schweiger</li>
     <li class="cover-page-main-team-members-list-item">Brad Pit</li>
     <li class="cover-page-main-team-members-list-item">Will Smith</li>
     <li class="cover-page-main-team-members-list-item">Daniel Craig</li>
     <li class="cover-page-main-team-members-list-item">Etta James</li>
     <li class="cover-page-main-team-members-list-item">Michael Buble</li>
     <li class="cover-page-main-team-members-list-item">Wicked from Walker</li>
    </ul>
   </div>
  </div>

  <div class="cover-page-main-amount">
   <div class="cover-page-main-amount-header">
    <p class="cover-page-main-amount-header-title">This report is based on following feedback amounts</p>
    <p class="cover-page-main-amount-header-info">From the time period 6.6.2020-12.12.2020</p>
   </div>
   <div class="cover-page-main-amount-main">
    <ul class="cover-page-main-amount-main-list">
     <li class="cover-page-main-amount-main-list-item title">Peer-to-peer</li>
     <li class="cover-page-main-amount-main-list-item">221</li>
    </ul>
    <ul class="cover-page-main-amount-main-list">
     <li class="cover-page-main-amount-main-list-item title">Team feedbacks</li>
     <li class="cover-page-main-amount-main-list-item">42</li>
    </ul>
    <ul class="cover-page-main-amount-main-list">
     <li class="cover-page-main-amount-main-list-item title">Team lead feedbacks</li>
     <li class="cover-page-main-amount-main-list-item">47</li>
    </ul>
    <ul class="cover-page-main-amount-main-list">
     <li class="cover-page-main-amount-main-list-item title">Self evaluation</li>
     <li class="cover-page-main-amount-main-list-item">52</li>
    </ul>
   </div>
  </div>

  <div class="cover-page-main-created">
   <p class="cover-page-main-created-title">Report created</p>
   <p class="cover-page-main-created-info">12.12.2020 - 14:32</p>
  </div>

 </div>

</body>

</html>