<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>

 <style>
  a {
   display: block;
  }
 </style>
</head>

<body>
 <a href="./cover-page">1. Cover page</a>
 <a href="./at-the-moment">2. At the moment</a>
 <a href="./development">3. Development</a>
 <a href="./team-members-performance-01">4. Team members performance 01</a>
 <a href="./team-members-performance-02">5. Team members performance 02</a>
 <a href="./self-evaluation">6. Self evaluation</a>
</body>

</html>