<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="http://localhost:3000/css/style.css">
</head>

<!-- <style>
 * {
  padding: 0;
  margin: 0;
 }

 body {
  background-color: red;
 }

 h1 {
  border: 1px solid magenta;
 }
</style> -->

<body>

 <div class="header">
  <div class="header-team">
   <p class="header-team-subtitle">Team Report</p>
   <p class="header-team-title">Team Marketing</p>
  </div>
  <img class="header-team-img" src="http://localhost:3000/img/team-img.png" alt="">
 </div>

 <div class="info">
  <p class="info-item"><span>Description:</span> Marketing South Africa</p>
  <p class="info-item"><span>Team lead:</span> Peter Smith</p>
 </div>

 <div class="page-content">
  <div class="section-header">
   <p class="section-header-title">Average received feedback by users</p>
   <p class="section-header-dropdown">6 per page
    <svg xmlns="http://www.w3.org/2000/svg" width="4.537" height="2.857" viewBox="0 0 4.537 2.857">
     <path d="M403.1,242h4.537l-2.194,2.857Z" transform="translate(-403.103 -242)" fill="rgb(80, 93, 108)" /></svg>
   </p>
  </div>

  <div class="section-body">
   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

   <div class="section-body-item">
    <img class="section-body-item-img" src="http://localhost:3000/img/user-img.png" alt="">
    <div class="section-body-item-info">
     <div class="section-body-item-info-header">
      <p class="section-body-item-info-header-name">Eve Larsson</p>
      <p class="section-body-item-info-header-date">12.4.1996</p>
     </div>
     <div class="section-body-item-info-text">Amazing presentation, Good translations, You are a great colleague, A
      pleasure working with you.</div>
    </div>
   </div>

  </div>


 </div>

 <!-- <footer class="footer">
  <p class="footer-text"><span>Peter Smith -</span> Javascript Developer</p>
  <p class="footer-text"><span>Example Company</span></p>
  <p class="footer-text">15.8.2020</p>
 </footer> -->

</body>

</html>